<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chart.js </title>      <!-- import plugin script -->
    <script src='static/Chart.bundle.min.js'></script>
</head>
<body>
<h1>Number of Incidents per City</h1><!-- bar chart canvas element -->
<canvas id="chart"></canvas>
<script>
		var barChartData = {
			labels: [{% for item in labels %}
                            "{{item}}",
                          {% endfor %}],
			datasets: [{
			    type: 'bar',
				label: 'Severity 1',
				backgroundColor: "rgba(255, 255, 0, 0.2)",
				borderColor: "rgba(255,255,0,1)",
				borderWidth: 1,
				data: [{% for item in data1 %}
                            {{item}},
                        {% endfor %}]
			}, {
			    type: 'bar',
				label: 'Severity 2',
				backgroundColor: "rgba(255, 140, 0, 0.2)",
				borderColor: "rgba(255,140,0,1)",
				borderWidth: 1,
				data: [{% for item in data2 %}
                            {{item}},
                            {% endfor %}]
			}, {
			    type: 'bar',
				label: 'Severity 3',
				backgroundColor: "rgba(255, 0, 0, 0.2)",
				borderColor: "rgba(255,0,0,1)",
				borderWidth: 1,
				data: [{% for item in data3 %}
                            {{item}},
                          {% endfor %}]
			}, {
			    type: 'bar',
			    label: 'Severity 4',
				backgroundColor: "rgba(128, 0, 0, 0.2)",
				borderColor: "rgba(128,0,0,1)",
				borderWidth: 1,
				data: [{% for item in data4 %}
                            {{item}},
                          {% endfor %}]
			}]
		}

		var mychart = document.getElementById("chart").getContext("2d");
		new Chart(mychart, {
			type: 'bar',
			data: barChartData,
			options: {
				title: {
					display: true,
					text: 'Stacked Bar Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false
				},
				responsive: true,
				scales: {
					xAxes: [{
						stacked: true,
					}],
					yAxes: [{
						stacked: true
					}]
				}
			}
		});

</script>
</body>

</html>